<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>To-Do Lists</title>
        <!-- Bootstrap -->
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/bootstrap/css/base.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Quattrocento+Sans|Forum" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 jumbotron">
                    <div class="text-center">
                    	<h1>{% block header_text %}{% endblock %}</h1>
                    	<form method="POST" action="{% block form_action %}{% endblock %}">
                            <br>
                	    	<input name="input_item" 
                                type="text" 
                                id="id_new_item" 
                                class="form-control input-lg" 
                                placeholder="Enter a to-do item">
                            
                	    	{% csrf_token %}
                	    </form>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% block table %}
                    {% endblock %}
                </div>
            </div>

            <div class="text-center">
                <iframe class="spotify" src="https://open.spotify.com/embed/user/11131171347/playlist/5RUq15YrXCTqdw3311jRls" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

                <iframe class="spotify" src="https://open.spotify.com/embed/track/6OlBrkfk1xnx2N350Ib8aP" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
            </div>
    
        </div>



<script src="/static/bootstrap/js/base.js"></script>

    </body>
</html>
