{% extends 'base.html' %}

{% block header_text %}To-Do Lists{% endblock %}

{% block form_action %}/lists/{{ list.id }}/add_item{% endblock %}

{% block table %}
	<div id="id_list_table" class="tablelike">
    <ol>
		{% for item in list.item_set.all %}
    		<li class="item" item_done="{{item.done}}" item_id="{{item.id}}">{{ item.text }}
 			    <span style="float:right;">
       			<form method="POST" action="delete/{{ item.id }}/" >
      				<button class="button1" name="delete">delete</button>
              {% csrf_token %}
      			</form>
      		</span>
      		<span style="float:right;">
      			<button class="button1" id="done" name="done">done</button>
      		</span>
    		</li>
		{% endfor %}
  </ol>
	</div>

<script src="/static/bootstrap/js/list.js">
</script>

<br><br><br><br><br><br><br><br><br><br><br><br>

<p id="hi" style="display: none">
  Let's use:
  <span>Cascading</span>
  <span>Style</span>
  <span>Sheets</span>
</p>

{% endblock %}